.hero {
  background-color: var(--hero-background-color);
  text-align: center;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1920px;
  height: 1080px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Hero.jpg");
  background-size: cover;
  background-position: center;
}
